a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* NavMenu.css */

.toggle-theme-button {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.toggle-theme-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: 2px; /* Adjust based on your design */
  left: 2px; /* Adjust based on your design */
  transition: left 0.3s ease;
}

.toggle-theme-icon-dark {
  background-color: #000; /* Color of the icon in dark mode */
  left: 22px; /* Position of the icon in dark mode */
}

.toggle-theme-icon-light {
  background-color: #fff; /* Color of the icon in light mode */
}


.theme-text {
  margin-right: 10px; 
  font-weight: bold; 
}

.text-white {
  color: #fff; 
}

.text-dark {
  color: #000; 
}

